name: Test suites validation

on:
  push:
    branches:
      - main
      - deploy
      - feat/*
  pull_request:
    branches:
      - main
      - deploy

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install
        working-directory: ./API

      - name: Run tests
        run: npm test
        working-directory: ./API